{% extends "panel.html" %}
{% block body %}
	<h1>{{ mon.name }}</h2>
	<p><FONT SIZE = 3><b>Level:</b></FONT> {{mon.level}}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<FONT SIZE = 3><b>Role:</b></FONT> {% if mon.elite %} Elite {% endif %} {% if mon.solo %} Solo {% endif %} {{ mon.role }} {% if mon.minion %} Minion {% endif %}
	<br /><br /><FONT SIZE = 2><b>Initiative</b></FONT> {{mon.init}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT SIZE = 2><b>Speed</b></FONT> {{mon.speed}}
	<br /><FONT SIZE = 2><b>HP</b></FONT> {{mon.hp}} / {{mon.gibHP}}
	<br /><FONT SIZE = 2><b>AC</b></FONT> {{mon.ac}}
	<br /><FONT SIZE = 2><b>Fortitude</b></FONT> {{mon.fort}}
	<br /><FONT SIZE = 2><b>Reflex</b></FONT> {{mon.ref}}
	<br /><FONT SIZE = 2><b>Will</b></FONT> {{mon.will}}
	
	<h2>Skill Opposition</h2>
	<ul>
		<li>Novice (Easy DC): {{mon.eDC}}</li>
		<li>Experienced (Medium DC): {{mon.mDC}}</li>
		<li>Master (Hard DC): {{mon.hDC}}</li>
	</ul>
	
	<h2>Attacks</h2>
	
	<p><FONT SIZE = 2><b>Base Attack Bonus vs. AC:</b></FONT> {{ mon.acAtkBase}}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<FONT SIZE = 2><b>Base Attack Bonus vs. NAD:</b></FONT> {{ mon.nacAtkBase}}
	
	<br />
	{% for attack in mon.attack_set.all %}
		
		<h3><u>{{ attack.name }}</u></h3>
		<b>Usage:</b> {{attack.isplay}} ({{attack.get_use_display}})
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b>Range:</b> 
		{% ifequal attack.attackType 'SEL' %}
			Personal
			{%else%}
			{% ifequal attack.attackRange 0%}
				Personal
			{%else%}
				{{attack.get_attackType_display}} 
				{% ifequal attack.attackType 'SME' %}
					{% if attack.attackRange > 1 %}
						(Reach {{attack.attackRange}})
					{% endif %}
				{% else %}
				 	{{attack.attackRange}}
				{% endifequal %}

			{% endifequal %}
		{% endifequal %} <br />
		
		{% ifnotequal attack.attackType 'SEL' %}
			<b>Attack: +</b>{{attack.atkBonus}} vs. {{attack.get_tardef_display}} 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<b>Damage:</b> {{attack.damage}}<br />
		{% endifnotequal %}
				
		{% if attack.effects %}<b>Additional Effects:</b> {{attack.effects}} {% endif %}
		<br />
	{% endfor %}
	<br />
	<br /><br />
	<b>Note:</b> If adding effects to the attacks, remove one die of damage per effect.
	
	<p><p><a href="{% url bestiary_mon_listing %}">Back to the Monster Listing</a>
	<p><p><a href="{% url bestiary_create_mon %}">Add a new monster</a>
{% endblock %}
