{% extends "panel.html" %}
{% block head %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/dice.js"></script>
{% endblock %}
{% block body %}
	<h1>{{ mon.name }}</h2>
	<p><FONT SIZE = 3><b>Level:</b></FONT> {{mon.level}}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<FONT SIZE = 3><b>Role:</b></FONT> {% if mon.elite %} Elite {% endif %} {% if mon.solo %} Solo {% endif %} {{ mon.role }} {% if mon.minion %} Minion {% endif %}
	<br /><br /><FONT SIZE = 2><b>Initiative</b></FONT> {{ mon.initiative }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT SIZE = 2><b>Speed</b></FONT> {{mon.speed}}
	<br /><FONT SIZE = 2><b>HP</b></FONT> {{mon.hp}} / {{mon.gibHP}}
	<br /><FONT SIZE = 2><b>AC</b></FONT> {{mon.ac}}
	<br /><FONT SIZE = 2><b>Fortitude</b></FONT> {{ mon.fortitude }}
	<br /><FONT SIZE = 2><b>Reflex</b></FONT> {{ mon.reflex }}
	<br /><FONT SIZE = 2><b>Will</b></FONT> {{ mon.will }}
	
	<h2>Skill Opposition</h2>
	<ul>
		<li>Novice (Easy DC): {{ mon.eDC }}</li>
		<li>Experienced (Medium DC): {{ mon.mDC }}</li>
		<li>Master (Hard DC): {{ mon.hDC }}</li>
	</ul>
	
   <h2>Abilities</h2>
   {% for ability in mon.ability_set.all %}
      <h3><u>{{ ability.name }}</u></h3>
		<b>Usage:</b> {{ ability.atkUsageDisplay }}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b>Range:</b> {{ ability.atkRangeDisplay }}
		{% if ability.effect %}<br /><b>Effect:</b> {{ ability.effect }} {% endif %}
      {% if ability.aftereffect %}<br /><b>Aftereffect:</b> {{ ability.aftereffect }} {% endif %}
		<br />

   {% endfor %}
   <br /> 
   <a href="{% url bestiary_createAbility mon_id=mon.id%}">Add ability</a>
   
	<h2>Attacks</h2>
	
	<p><FONT SIZE = 2><b>Base Attack Bonus vs. AC:</b></FONT> {{ mon.acAtkBase }}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<FONT SIZE = 2><b>Base Attack Bonus vs. NAD:</b></FONT> {{ mon.nacAtkBase }}
	
	<br />
	{% for attack in mon.attack_set.all %}
		<h3><u>{{ attack.name }}</u></h3>
		<b>Usage:</b> {{ attack.get_action_display }} -- {{ attack.usage }}{% if attack.bloodiedLimit %}(Usable only when bloodied){% endif %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b>Range:</b> {{ attack.atkRangeDisplay }}{% if attack.oaFlag %}(Provokes OA){% endif %}
      <br />
		<b>Attack: +</b>{{ attack.attackBonus }} vs. {{ attack.get_targetDefense_display }} 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>Hit:</b> {{ attack.damageLine }} damage {% if attack.onHit %}and {{ attack.onHit }}. {% endif %}<br />
		{% if attack.effect %}<b>Effect:</b> {{ attack.effect }} {% endif %}
      {% if attack.aftereffect %}<b>Aftereffect:</b> {{ attack.aftereffect }} {% endif %}
		<br />
	{% endfor %}
   <a href="{% url bestiary_createAttack mon_id=mon.id%}">Add attack</a>
	<br />
	<br /><br />
	<b>Note:</b> If adding effects to the attacks, remove one die of damage per effect.
	
	<p><p><a href="{% url bestiary_monsterListing %}">Back to the Monster Listing</a>
	<p><p><a href="{% url bestiary_createMonster %}">Add a new monster</a>
{% endblock %}
